In [5]:
%pip install seaborn

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

<class 'ModuleNotFoundError'>: No module named 'seaborn'

### Assets

In [7]:
df_assets = pd.read_csv('Assets.csv')

In [8]:
df_assets.head(3)

,APPLICATIONID,ASSET_ID,TYPE,VALUE
0,400ef336-9f32-4b57-bad2-aa0093f58db3,ea916579-bcb2-4aae-a63d-66dbb0c5c2b4,investment,9000.0
1,16d4a079-dfd8-48a8-90f7-f89e288bc601,296d61db-366b-402e-8dc9-1bd0766f40ea,vehicle,60000.0
2,b936c281-64ab-45ab-b9e8-df19895a4bc8,30a5770d-ff0c-48ea-b0fd-efbfa6f167d5,rrsp,243000.0

In [ ]:
# drop the column ASSET_ID

In [10]:
df_assets.columns

Index(['APPLICATIONID', 'ASSET_ID', 'TYPE', 'VALUE'], dtype='object')

In [12]:
df_assets.shape

(60702, 4)

In [19]:
df_assets.isnull().sum()

APPLICATIONID    0
ASSET_ID         0
TYPE             0
VALUE            0
dtype: int64

In [15]:
# check if the rows has dupliactes
df_assets.duplicated().sum()

0

In [47]:
df_assets['TYPE'].value_counts()

vehicle          14959
cash_checking    12725
cash_savings      9324
rrsp              9322
investment        7900
other             4806
gift              1666
Name: TYPE, dtype: int64

In [49]:
df_assets.groupby('TYPE')['VALUE'].mean()

TYPE
cash_checking     30139.917420
cash_savings      53174.378991
gift              74969.527275
investment       120330.656630
other            135348.674305
rrsp              81215.291428
vehicle           23143.925275
Name: VALUE, dtype: float64

### Borrowers

In [11]:
df_bor = pd.read_csv('Borrowers.csv')

In [12]:
df_bor.head(3)

,APPLICATIONID,DEPENDENTS,FIRSTTIME,BORROWER_ID,INCLUDERENTALAMOUNTMONTHLYTDS,ISHIDDEN,ISMAINBORROWER,MARITAL,RELATIONSHIPTOMAINBORROWER,RENTALAMOUNTMONTHLY
0,7fd3c8b1-bfe2-4ee5-9e45-1b3512e81e4b,NaN,NaN,4050056a-2897-4587-8e90-7dd4cb49cec6,NaN,False,True,NaN,NaN,NaN
1,94ae848b-cafb-4464-b545-1957b0c2f713,0.0,NaN,a992d0ef-6099-4bb1-bf9d-bc6037e7138c,NaN,False,True,widowed,NaN,NaN
2,e6c15716-f72c-4dcf-a095-30e3da06d3a0,0.0,NaN,1bc0442b-d7e9-4c71-8126-c9734b187f9b,NaN,False,True,married,NaN,NaN

In [ ]:
# drop the column BORROWER_ID

In [13]:
df_bor.columns

Index(['APPLICATIONID', 'DEPENDENTS', 'FIRSTTIME', 'BORROWER_ID',
       'INCLUDERENTALAMOUNTMONTHLYTDS', 'ISHIDDEN', 'ISMAINBORROWER',
       'MARITAL', 'RELATIONSHIPTOMAINBORROWER', 'RENTALAMOUNTMONTHLY'],
      dtype='object')

In [13]:
# check data size 
df_bor.shape

(80882, 10)

In [18]:
# check null value
df_bor.isnull().sum()

APPLICATIONID                        0
DEPENDENTS                       34526
FIRSTTIME                        54733
BORROWER_ID                          0
INCLUDERENTALAMOUNTMONTHLYTDS    78753
ISHIDDEN                             0
ISMAINBORROWER                       0
MARITAL                          27825
RELATIONSHIPTOMAINBORROWER       64909
RENTALAMOUNTMONTHLY              70894
dtype: int64

In [20]:
df_bor.duplicated().sum()

0

In [60]:
# using 0.0 or unknown
df_bor['DEPENDENTS'].value_counts()

0.0     25920
2.0      8666
1.0      7352
3.0      3135
4.0       890
5.0       253
6.0        85
7.0        23
8.0        15
10.0       10
9.0         7
Name: DEPENDENTS, dtype: int64

In [64]:
# dropna 
df_bor['FIRSTTIME'].value_counts()

True     15125
False    11024
Name: FIRSTTIME, dtype: int64

In [67]:
# dropna
df_bor['INCLUDERENTALAMOUNTMONTHLYTDS'].value_counts()

False    1777
True      352
Name: INCLUDERENTALAMOUNTMONTHLYTDS, dtype: int64

In [82]:
# dropna or using marrid(mode)
df_bor['MARITAL'].value_counts()

married       33780
single        10251
common_law     5073
divorced       1741
separated      1450
widowed         762
Name: MARITAL, dtype: int64

In [80]:
# dropna or using the spouse(mode)
df_bor['RELATIONSHIPTOMAINBORROWER'].value_counts()

spouse        12020
family         1778
common_law     1666
other           509
Name: RELATIONSHIPTOMAINBORROWER, dtype: int64

In [83]:
# using the avg to substitute
df_bor['RENTALAMOUNTMONTHLY'].value_counts()

1500.0    502
1000.0    485
2000.0    485
1200.0    479
1400.0    309
         ...
1467.5      1
667.0       1
1349.0      1
1006.0      1
2401.0      1
Name: RENTALAMOUNTMONTHLY, Length: 921, dtype: int64

### CreditReports

In [14]:
df_cr = pd.read_csv('CreditReports.csv')

In [15]:
df_cr.head(3)

,APPLICATION_ID,BORROWERID,CREATEDAT,CREDITSCORE,CREDITREPORT_ID
0,e6c15716-f72c-4dcf-a095-30e3da06d3a0,1bc0442b-d7e9-4c71-8126-c9734b187f9b,2024-02-26T22:03:50.771456+00:00,784.0,094c2b0b-580f-4eb6-99b6-c57f3671cf1f
1,400ef336-9f32-4b57-bad2-aa0093f58db3,383dc692-8385-405c-9ed6-4b4da41e47e5,2024-02-26T22:53:26.982797+00:00,756.0,2c060e76-842b-42ba-9462-2b2fa09e8268
2,94ae848b-cafb-4464-b545-1957b0c2f713,a992d0ef-6099-4bb1-bf9d-bc6037e7138c,2024-02-26T22:43:33.85511+00:00,534.0,53a7e306-4cfd-4e9d-bd0f-ee809a64a104

In [ ]:
# drop BORROWERID and CREDITREPORT_ID, make the CREATEDAT to date time

In [16]:
df_cr.columns

Index(['APPLICATION_ID', 'BORROWERID', 'CREATEDAT', 'CREDITSCORE',
       'CREDITREPORT_ID'],
      dtype='object')

In [44]:
df_cr.shape

(60348, 5)

In [25]:
df_cr.isnull().sum()

APPLICATION_ID        0
BORROWERID            0
CREATEDAT             0
CREDITSCORE        7341
CREDITREPORT_ID       0
dtype: int64

In [26]:
df_cr.duplicated().sum()

0

In [103]:
# dropna or sing the mean to substitute CREDITSCORE
df_cr['CREDITSCORE'].dtype,\
df_cr['CREDITSCORE'].mean()

(dtype('float64'), 744.8697719169166)

### Incomes

In [17]:
df_incm = pd.read_csv('Incomes.csv')

In [18]:
df_incm.head(3)

,ACTIVE,APPLICATIONID,BONUSES,BORROWERID,BUSINESSTYPE,ENDDATE,INCOME_ID,INCOME,INCOMEFREQUENCY,INCOMEPERIODAMOUNT,INDUSTRYSECTOR,JOBTYPE,OCCUPATION,PAYTYPE,SOURCE,STARTDATE,TITLE
0,True,79e95817-04ec-4a00-b38f-8dccfab870b4,False,9caf8927-3081-4869-be6b-3c8cf2b7353a,NaN,NaN,66f68715-f9f5-4018-b5fd-aa5987de5035,66560.0,annually,66560.0,other,full_time,professional,hourly_guaranted,employed,2022-09-01,Driver
1,False,b936c281-64ab-45ab-b9e8-df19895a4bc8,False,1062b4ba-ff77-4209-95f6-cb4fb9832b66,NaN,2024-02-15,9f1a400f-2146-4c2b-92a1-40e1a714740c,56500.0,annually,56500.0,other,full_time,other,salaried,employed,2019-01-01,Environmental Services Manager
2,True,16d4a079-dfd8-48a8-90f7-f89e288bc601,NaN,44b426fb-7644-42ad-9bf0-337843b28cf2,NaN,NaN,125ac40f-47b8-41f3-8ea0-de044be1dc7c,166400.0,annually,166400.0,health,NaN,professional,hourly_guaranted,employed,2014-08-17,NaN

In [42]:
df_incm.shape

(83958, 17)

In [19]:
df_incm.columns

Index(['ACTIVE', 'APPLICATIONID', 'BONUSES', 'BORROWERID', 'BUSINESSTYPE',
       'ENDDATE', 'INCOME_ID', 'INCOME', 'INCOMEFREQUENCY',
       'INCOMEPERIODAMOUNT', 'INDUSTRYSECTOR', 'JOBTYPE', 'OCCUPATION',
       'PAYTYPE', 'SOURCE', 'STARTDATE', 'TITLE'],
      dtype='object')

In [30]:
df_incm.isnull().sum()

ACTIVE                    0
APPLICATIONID             0
BONUSES               42839
BORROWERID                0
BUSINESSTYPE          77370
ENDDATE               73490
INCOME_ID                 0
INCOME                    0
INCOMEFREQUENCY           0
INCOMEPERIODAMOUNT        0
INDUSTRYSECTOR        41321
JOBTYPE               28447
OCCUPATION            46397
PAYTYPE               29600
SOURCE                    0
STARTDATE                 0
TITLE                 27932
dtype: int64

In [31]:
df_incm.duplicated().sum()

0

In [104]:
# dropna 
df_incm['BONUSES'].value_counts()

False    26961
True     14158
Name: BONUSES, dtype: int64

In [105]:
# using the mode 
df_incm['BUSINESSTYPE'].value_counts()

sole_proprietor    3367
corporation        2961
pertnership         260
Name: BUSINESSTYPE, dtype: int64

In [106]:
# using the CreditReports table's createddate to fill na, using after the createddate 
'''
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['timestamp'] = df['timestamp'].interpolate(method='linear', limit_direction='forward')
'''
df_incm['ENDDATE'].value_counts()

2022-01-01    277
2021-01-01    231
2020-01-01    158
2023-01-01    128
2021-09-01    126
             ...
2019-02-11      1
2007-01-07      1
2020-11-22      1
2019-04-26      1
2023-11-08      1
Name: ENDDATE, Length: 1747, dtype: int64

In [107]:
# using other to substitute 
df_incm['INDUSTRYSECTOR'].value_counts()

other                        15273
services                      5681
health                        3922
construction                  2915
high_tech                     2876
government                    2231
education                     2138
banking_finance               2044
manufacturing                 1711
retail_sales                  1574
transportation                1236
farming_natural_resources      527
leisure_entertainment          375
varies                         134
Name: INDUSTRYSECTOR, dtype: int64

In [108]:
# using full time(mode) or drop column
df_incm['JOBTYPE'].value_counts()

full_time    50914
part_time     3905
seasonal       692
Name: JOBTYPE, dtype: int64

In [109]:
# using other(mode) or drop column
df_incm['OCCUPATION'].value_counts()

other                  13717
professional           13566
labour_tradesperson     4401
management              3903
clerical                1974
Name: OCCUPATION, dtype: int64

In [110]:
# using salaried(mode) 
df_incm['PAYTYPE'].value_counts()

salaried                29587
hourly_guaranted        20733
hourly_non_guaranted     3493
commission                545
Name: PAYTYPE, dtype: int64

In [111]:
# drop the column
df_incm['TITLE'].value_counts()

Owner                                       999
Teacher                                     822
Manager                                     572
Project Manager                             385
PSW                                         373
                                           ...
Medical Technologist                          1
Non Destructive Engineer                      1
First Nations Support Worker                  1
CMC Machinist                                 1
Instumentation and Automation Technician      1
Name: TITLE, Length: 22130, dtype: int64

### Liabilities

In [33]:
df_lablt = pd.read_csv('Liabilities.csv')
df_lablt.head(3)

,CREDITLIMIT,BALANCE,MONTHLYPAYMENT,PAYOFFTYPE,TYPE,MATURITYDATE,IMPORTEDFROMCREDITBUREAU,ISCREDITBUREAUSOURCE,LIABILITY_ID,APPLICATIONID
0,2000.0,147.0,4.41,NaN,credit_card,NaN,True,False,129442c1-8dfc-465f-996e-81dff5b12674,400ef336-9f32-4b57-bad2-aa0093f58db3
1,4000.0,525.0,15.75,NaN,credit_card,NaN,True,False,a3ef7ed1-75fb-49e1-90c2-4e106e98f39b,79e95817-04ec-4a00-b38f-8dccfab870b4
2,NaN,90.0,0.00,NaN,other,NaN,True,False,9b0cc2c6-818d-4574-8541-1e7b2bce3680,400ef336-9f32-4b57-bad2-aa0093f58db3

In [ ]:
# drop the LIABILITY_ID

In [113]:
df_lablt.shape

(193450, 10)

In [112]:
df_lablt.isnull().sum()

CREDITLIMIT                  23196
BALANCE                        686
MONTHLYPAYMENT                2069
PAYOFFTYPE                  141468
TYPE                             0
MATURITYDATE                193035
IMPORTEDFROMCREDITBUREAU         0
ISCREDITBUREAUSOURCE             0
LIABILITY_ID                     0
APPLICATIONID                    0
dtype: int64

In [34]:
df_lablt.duplicated().sum()

0

In [115]:
# using mean to substitute
df_lablt['CREDITLIMIT'].mean()

42953.5773432636

In [117]:
# using mean to substitute
df_lablt['BALANCE'].mean()

28209.797243053687

In [118]:
# using mean to substitute
df_lablt['MONTHLYPAYMENT'].mean()

346.8583948249826

In [119]:
# drop the column or using the mode
df_lablt['PAYOFFTYPE'].value_counts()

from_proceeds       36556
prior_to_advance    15426
Name: PAYOFFTYPE, dtype: int64

In [121]:
# drop the column
df_lablt['MATURITYDATE'].value_counts()

2031-01-01    125
2032-01-01     14
2025-01-01     10
2024-01-01      7
2031-02-01      6
             ...
2022-12-01      1
2019-09-16      1
2027-09-01      1
2026-11-01      1
2024-03-29      1
Name: MATURITYDATE, Length: 186, dtype: int64

### Mortgages

In [35]:
df_mrge = pd.read_csv('Mortgages.csv')

In [36]:
df_mrge.head(3)

,MORTGAGE_ID,PROPERTY_ID,APPLICATIONID,LENDER,ORIGINALMORTGAGEAMOUNT,PAYMENT,PAYMENTFREQUENCY,PAYOFF,PAYOFFTYPE,RATE,REMAININGAMOUNT,RENEWAL,MORTGAGE_TERM,MORTGAGE_TYPE,FILE_CREATION_TIMESTAMP,REC_CREATED_TS,REC_UPDATED_TS
0,6d41cd44-06df-4b02-9169-b1a92dc789db,06deaf2c-2ee9-42bd-91c2-cb9927b04785,59133cd9-58f9-4d19-bd9f-52e95bba3310,RBC,NaN,NaN,NaN,True,from_proceeds,NaN,402000.0,NaN,NaN,NaN,2024-02-29T17:49:30Z,2024-02-29T10:01:24.013-08:00,2024-02-29T10:01:24.013-08:00
1,406e111c-14da-4e3c-8d4d-6dee994df37d,97c02c7d-cbee-4a44-b7e8-55c6359dbc8f,c572fccd-e1ea-4592-9d54-5a1c87e435e4,ATB - HELOC,380000.0,1637.0,monthly,True,from_proceeds,7.70,220000.0,NaN,other,variable,2024-02-29T17:54:19Z,2024-02-29T10:01:24.013-08:00,2024-02-29T10:01:24.013-08:00
2,a097f687-f782-41e2-a9e1-47dd0faef1fd,20bf0813-49b6-437b-a4eb-fffde79b8ed9,3de1c9cd-4380-4b81-87cf-dd2df0432988,MCAP,NaN,900.0,semi-weekly,True,from_proceeds,2.99,325000.0,2024-05-12,5,fixed,2024-02-29T16:51:03Z,2024-02-29T09:03:40.273-08:00,2024-02-29T09:03:40.273-08:00

In [ ]:
# drop the MORTGAGE_ID ,PROPERTY_ID column

In [40]:
df_mrge.shape

(28214, 17)

In [38]:
df_mrge.isnull().sum()

MORTGAGE_ID                    0
PROPERTY_ID                    0
APPLICATIONID                  0
LENDER                      3178
ORIGINALMORTGAGEAMOUNT     20377
PAYMENT                     3551
PAYMENTFREQUENCY            2676
PAYOFF                         0
PAYOFFTYPE                  7994
RATE                        6556
REMAININGAMOUNT              972
RENEWAL                     8296
MORTGAGE_TERM               4437
MORTGAGE_TYPE               3928
FILE_CREATION_TIMESTAMP        0
REC_CREATED_TS               119
REC_UPDATED_TS                 0
dtype: int64

In [39]:
df_mrge.duplicated().sum()

0

In [122]:
# drop the null value rows
df_mrge['LENDER'].value_counts()

RBC                          2874
TD                           2030
CIBC                         2010
Scotiabank                   1300
BMO                           998
                             ...
National Trust                  1
Something out West              1
Caisse Pop. - Desjardains       1
Coastal Community               1
CIBC + HELOC #009102446         1
Name: LENDER, Length: 4121, dtype: int64

In [124]:
# using the mean 
df_mrge['ORIGINALMORTGAGEAMOUNT'].mean()

348883.42070052313

In [126]:
# using the mean
df_mrge['PAYMENT'].mean()

1925.8840437092001

In [128]:
# drop the null value rows
df_mrge['PAYMENTFREQUENCY'].value_counts()

monthly                  17870
semi-weekly               5106
weekly                    1193
accelerated_bi-weekly      667
semi-monthly               530
accelerated_weekly         172
Name: PAYMENTFREQUENCY, dtype: int64

In [129]:
# using the mode 
df_mrge['PAYOFFTYPE'].value_counts()

from_proceeds       19232
prior_to_advance      987
none                    1
Name: PAYOFFTYPE, dtype: int64

In [131]:
# using the mean
df_mrge['RATE'].mean()

4.153252839597378

In [132]:
# using the mean
df_mrge['REMAININGAMOUNT'].mean()

314042.97788671905

In [134]:
# using the date time to substitute 
df_mrge['RENEWAL'].value_counts()

2025-01-01    412
2026-01-01    385
2024-01-01    350
2023-01-01    322
2023-06-01    281
             ...
2030-05-01      1
2027-11-22      1
2027-02-05      1
2021-12-23      1
2028-03-09      1
Name: RENEWAL, Length: 2244, dtype: int64

In [135]:
# using the mode 
df_mrge['MORTGAGE_TERM'].value_counts()

5        16425
1         2482
3         1439
other     1233
4          890
2          883
0.5        288
10         137
Name: MORTGAGE_TERM, dtype: int64

In [136]:
# using the mode 
df_mrge['MORTGAGE_TYPE'].value_counts()

fixed       18631
variable     5655
Name: MORTGAGE_TYPE, dtype: int64

In [137]:
# using date time to substitute 
df_mrge['REC_CREATED_TS'].value_counts()

2023-11-06T06:46:32.697-08:00    25713
2024-01-24T00:01:06.601-08:00       29
2023-12-20T00:00:56.207-08:00       25
2023-11-29T00:00:57.354-08:00       23
2023-11-22T00:01:01.756-08:00       20
                                 ...
2024-01-27T10:03:35.229-08:00        1
2024-02-05T16:01:04.6-08:00          1
2024-01-26T11:00:57.392-08:00        1
2024-02-13T16:01:09.84-08:00         1
2024-02-25T10:01:25.793-08:00        1
Name: REC_CREATED_TS, Length: 637, dtype: int64